pip==26.0.1
attr==0.3.2
audio.wave==4.0.2
brotli==1.2.0
brotlicffi==1.2.0.0
chardet==6.0.0.post1
ConfigParser==7.2.0
cryptography==46.0.5
docutils==0.22.4
filelock==3.25.0
h2==4.3.0
HTMLParser==0.0.2
ipython==9.10.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
numpy==2.4.2
protobuf==7.34.0
PyInstaller==6.19.0
pyodide==0.0.2
PyOpenGL==3.1.10
pyOpenSSL==25.3.0
redis==7.2.1
simplejson==3.20.2
Sphinx==9.1.0
thread==2.0.6
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
VideoCapture==0.9.5
xmlrpclib==1.0.1
certifi==2026.2.25
docopt==0.6.2
idna==3.11
pygame==2.6.1
requests==2.32.5
urllib3==2.6.3
yarg==0.1.10
